<?xml version="1.0"?>
<config>
    <modules>
        <RCDevs_OpenOTP>
            <version>1.0.4</version>
        </RCDevs_OpenOTP>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <RCDevs_Openotp before="Mage_Adminhtml">RCDevs_OpenOTP_Adminhtml</RCDevs_Openotp>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <RCDevs_OpenOTP>
                    <files>
                        <default>RCDevs_OpenOTP.csv</default>
                    </files>
                </RCDevs_OpenOTP>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch>
                <observers>
                    <rcdevs_openotp>
                        <class>rcdevs_openotp/observer</class>
                        <method>controllerActionPredispatch</method>
                    </rcdevs_openotp>
                </observers>
            </controller_action_predispatch>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <rcdevs_openotp>
                        <class>rcdevs_openotp/observer</class>
                        <method>addOpenOTPTabToUserPermissionForm</method>
                    </rcdevs_openotp>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
    </adminhtml>
    <global>
        <blocks>
            <rcdevs_openotp>
                <class>RCDevs_OpenOTP_Block</class>
            </rcdevs_openotp>
        </blocks>
        <models>
            <rcdevs_openotp>
                <class>RCDevs_OpenOTP_Model</class>
            </rcdevs_openotp>
			<admin>
				<rewrite>
					<session>RCDevs_OpenOTP_Model_Session</session>
				</rewrite>
			</admin>
        </models>
        <helpers>
            <rcdevs_openotp>
                <class>RCDevs_OpenOTP_Helper</class>
            </rcdevs_openotp>
        </helpers>
        <resources>
            <rcdevs_openotp_setup>
                <setup>
                    <module>RCDevs_OpenOTP</module>
                </setup>
            </rcdevs_openotp_setup>
        </resources>
    </global>
    <default>
        <admin>
            <openotp>
                <openotp_server_url>http://myserver:8080/openotp/</openotp_server_url>
                <openotp_client_id>Magento</openotp_client_id>
            </openotp>
        </admin>
    </default>
</config>